@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200&family=Roboto+Mono:wght@200;400;700&display=swap');


:root { 
    --white-lemon: rgb(250, 249, 242);

    --lemon: rgb(255, 252, 233);
    
    --lemon-chiffon: hsla(53, 96%, 89%, 1);
    --sage: hsla(74, 21%, 64%, 1);
    --sage-2: hsla(60, 27%, 69%, 1);
    --moss-green: hsla(85, 14%, 55%, 1);
    --reseda-green: hsla(92, 15%, 39%, 1);
    --black-olive: hsla(102, 15%, 23%, 1);
    --black-olive-2: hsla(115, 12%, 19%, 1);
    --eerie-black: hsla(0, 0%, 10%, 1);

    --title-font: 'Fraunces', monospace;
    --content-font: 'Roboto Mono', monospace; 
}


body {
    background-color: var(--black-olive);
    color: var(--lemon-chiffon);
    font-family: var(--content-font)
}

h1, h2 {
    font-family: var(--title-font);
    font-weight: 900;
}

h3 {
    font-family: var(--title-font);
}

hr {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--lemon-chiffon);
    transition: 0.5s;
}

a:hover {
    background-color: var(--lemon-chiffon);
    color: var(--reseda-green);
    box-shadow: 2px 2px var(--sage);
}

/* Scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--black-olive-2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--reseda-green);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--sage);
  }


/* Bootstrap and custom container  */

.container-fluid {
    padding: 0;
}

.page-container {
    padding: 0 7%;
}




/* Header Nav Bar*/



.navbar {
    background-color: var(--black-olive-2);
}

.nav-link {
    color: var(--lemon-chiffon);
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: var(--lemon-chiffon);
    color: var(--reseda-green);
    box-shadow: 2px 2px var(--sage);
}

.nav-link:visited {
    color: var(--sage-2);
}

.navbar-toggler {
    color: var(--sage)
}

.page-header {
    background-color: var(--eerie-black);
    background-image: url('../images/background.jpg');
    height: 950px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* About Me */

.about {
    background-color: var(--eerie-black);
    text-align: left;
}

.about-intro {
    
    border: 1px solid var(--lemon-chiffon);
    margin: 0 5%;
    padding: 2%;
}


.about-columns {
    margin: 0 5%;
    padding: 5% 0;

}

.mountain-image {
    background-image: url('../images/01.jpg');
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid var(--sage);
    /* padding: 25%; */
}

.about-col-right {
    padding: 5% 5% 5% 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Resume Carousel  */


.carousel-inner {
    background-color: var(--black-olive-2);
}

.carousel-item {
    padding: 5% 15%;
    text-align: center;
}

.item-title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--reseda-green);
}

.subitem {
    padding: 2% 5%;
}

.subitem-title {
    /* text-transform: uppercase; */
    font-style: italic;
    margin-bottom: 1%;
}

.subitem-text {
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}



/* Download  */

.download {
    background-color: var(--eerie-black);

}

.download-row {
    padding: 5%;
    text-align: right;
}


.download-title {

    font-style: italic;
    font-size: 2.5rem;
}

.resume-download {
    text-shadow: 1px 1px var(--white-lemon);
}




.resume-image {
    background-image: url('../images/resume.jpg');
    height: 20vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.resume-image:hover {
    height: 70vh;
}

/* Projects  */

.card, .card-img-top {
    border-radius: 0;
    border-color: var(--eerie-black);
}

.projects {
    background-color: var(--black-olive-2);
    /* height: 75vh; */
    padding: 3% 5%;
}

.projects-title {   
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.preview-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}

.preview-img:hover{
    filter: none;
}

.project-info {
    font-size: 0.7rem;
    color: var(--reseda-green);
}

.project-info a {
    color: var(--black-olive-2);
}

.project-title{
    background-color: var(--black-olive-2);
    color: var(--lemon-chiffon);
    text-align: center;
    padding: 5px 0;
    font-family: var(--title-font);
    font-weight: 400;
    font-style: italic;
}

.card-footer a {
    text-transform: uppercase;
    color: var(--black-olive-2);
}

.card-footer a:hover {
    background-color: var(--black-olive-2);
    color: var(--lemon-chiffon);
}

.visit-projects {

    text-transform: uppercase;
    color: var(--sage-2);
    padding-top: 5%;
    text-align: center;

}

/* Footer  */

/* .contact {
    background-color: var(--eerie-black);
    background-image: url('../images/background.jpg');
    height: 950px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.contact-info {
    
    background-color: var(--eerie-black);
    background-image: url('../images/02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    margin: 0;
    padding: 5% 0;

    color: var(--lemon-chiffon);

    text-align: center;
    font-family: var(--title-font);
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: italic;
}

.year {
    color: var(--black-olive);
    padding: 0;
    margin: 0;
}

.contact-link {
    font-size: 1.5rem;
    padding: 0 1%;
    color: var(--black-olive-2);
}

.contact-link:hover {
    font-size: 1.5rem;
    padding: 0 1%;
    color: var(--lemon-chiffon);
    background-color: transparent;
    box-shadow: none;
}


@media screen and (max-width: 1100px) {
    
    .page-header {
        background-image: url('../images/background.jpg');
        height: 650px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .mountain-image {
        background-image: url('../images/01.jpg');
        height: 55vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px solid var(--sage);
        /* padding: 25%; */
    }

    .download-row {
        padding: 20% 10%;
    }


}


@media screen and (max-width: 750px) {

    .about {
        text-align: center;
    }
    
    .page-header {
        background-image: url('../images/background.jpg');
        height: 450px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .mountain-image {
        background-image: url('../images/01.jpg');
        height: 400px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px solid var(--sage);
        /* padding: 25%; */
    }


}


