@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');


:root {
    --primary-light: #3BD388;
    --primary: #39AEA9;
    --primary-dark: #5B7E7D;
    --yellow: #FEAE06;
    --text: #121427;
    --gray: #F3F3F3;
    --purple: #9b8bf4;
    --violet: #606ff3;
    --blue: #0073e6;

}



/* STYLES  */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem | 62.5%  of default 16px = 10px but allow user to increase*/
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text);
    box-sizing: border-box;
    background-color: var(--primary);    
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

a:link,
a:visited {
    text-decoration: none;
}

.about, 
.certifications, 
.work,
.skills,
.languages {
    margin-bottom: 3rem;
}
/* HEADER  */

.header, 
.container {
    padding: 4rem;
    border-radius: 5rem;
    width: 80vw;
    height: fit-content;
    margin: 0 auto 3rem;
}


.header {

    /* background-image: linear-gradient(var(--primary-dark), var(--primary)); */

    background-color: var(--yellow);

    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.header__title {
    color: #fff;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    width: 40%;
}


.contact-link:link,
.contact-link:visited {
    background-color: var(--primary);
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
}

button {
    width: 4rem;
    height: 4rem;
    font-family: inherit;
    font-weight: 800;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);

}

button:hover, 
.contact-link:hover {
    background-color: var(--purple);
    color: #fff;
}


/* Main page */
.container {
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
}


/* About */

.about {
    width: 25%;
    /* text-align: justify; */
    padding: 0 5rem 0 0;
}

.about__img {
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    border: 0.2rem solid #fff;
}

.about__description {
    font-size: 1.6rem;
    line-height: 1.7;
}

.about__resume {
    margin-top: 3rem;
}

.resume__title {
    display: block;
    background-color: var(--primary);
    font-size: 2rem;
    padding: 2rem;
    border-radius: 5rem 5rem 0 0;
    text-align: center;
    color: var(--gray);

}

.resume__title:hover {
    background-color: var(--purple);
}

.resume__img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 5rem 5rem;

}




/* Experience */

.experience {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list {
    list-style: none;
}

.experience__item {
    display: flex;
    padding: 1.5rem 0;
}


.item__deco {
    width: 1.5rem;
    border-radius: 50rem;
}

.item__group {
    margin-left: 1rem;
    width: 75%;
}

.item__sub {
    color: var(--primary-dark);
    text-transform: uppercase;
}

.item__sub a:link,
.item__sub a:visited {
    color: var(--primary);
}

.item__sub a:hover {
    color: var(--gray);
    background-color: var(--primary);
}

.item__year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 2.5rem;
    border-radius: 50rem;

}

.certifications .item__deco,
.certifications .item__year {
    background-color: var(--yellow);
}

.work .item__deco,
.work .item__year {
    background-color: var(--primary);
}

.academic .item__deco,
.academic .item__year {
    background-color: var(--purple);
}

/* details */
.details {
    width: 25%;
    padding: 0 0 0 5rem;

}


.details__item {
    margin: 1.4rem 0;
    padding: 0.2rem 2rem;
    border-radius: 10rem;
    font-weight: 800;
}

.skills .details__item {
    background-color: var(--primary-light);
}

.languages .details__item {
    background-color: var(--purple);
}

.item__year-mobile {
    display: none;
}



.projects {
    display: flex;
    /* display: none; */
    width: 100%;
    height: 35%;
    flex-direction: column;
    flex: 6;

}

.panel {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.1; 
    margin: 5px;
    position: relative;
    transition: flex 0.3s ease-in;
    box-shadow: inset 0 0 0 500px  hsla(210, 100%, 45%, 0.85);
}

.panel h3,
.panel a {
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 10rem;
    padding: 0.5rem 1rem;
    font-weight: 400;
    transition: all 0.3s ease-in;
    opacity: 0;

}

.panel h3 {
    background-color: var(--blue);
}

.panel h3:hover {
    opacity: 1;
}


.panel a {
    text-transform: uppercase;
    color: var(--gray);

    background-color: var(--primary-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    /* left: -50%; */
    z-index: -999;
}

.panel.active {
    flex: 5;
    box-shadow: none;
}

.panel.active h3 {
    opacity: 1;
}

.panel.active a {
    opacity: 1;
    position: absolute;
    left: 0%;
    z-index: 1;
}



@media screen and (max-width: 1100px){
    .header,
    .container {
        width: 90vw;
    }

    .about {
        padding-right: 2.5rem;
    }

    .details {
        padding-left: 2.5rem;
    }

    .item__group {
        width: 90%;
    }

    .item__year {
        font-size: 1.2rem;
    }

   
    .header__title {
        color: #fff;
    }
    
    .header__contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.5rem;
        width: 20%;
    }
    


}

@media screen and (max-width: 950px){
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        text-align: center;
        font-size: 3.2rem;
    }

    .header__contact {
        width: 50%;
    }
    
    .container {
        flex-direction: column;
    }


    .about,
    .experience,
    .details {
        width: 100%;
    }

    .about,
    .details {
        padding: 0;
    }
   
    .about__me {
        display: flex;
        align-items: center;
    }

    .about__img {
        width: auto;
        margin: 1rem 2rem 1rem 0;
        align-self: baseline;
    }

    .resume__title {
        border-radius: 5rem;
    }

 
    .resume__img {
        display: none;

    }




    .resume__img {
        width: 20%;
    }

     .projects {
        height: 60vh;
    }

    .panel.active {
        flex: 1;
        box-shadow: none;
    }
 
}

@media screen and (max-width: 500px) {

    .container {
        padding: 2rem;
    }

    .header__contact {
        width: 100%;
    }

    .about {
        text-align: justify;
    }

    .about__me {
        flex-direction: column;
    }

    .about__img {
        width: 100%;
        display: block;
        float: none;
        margin: 1rem auto;
    }

    .item__group {
        width: 100%;
    }

    .item__year {
        display: none;
    }

    .item__year-mobile {
        display: inline-block;
        font-weight: 800;
    }
   

    .certifications .item__year-mobile {
        color: var(--yellow);
    }
    

    .work .item__year-mobile {
        color: var(--primary);
    }
    

    .academic .item__year-mobile {
        color: var(--purple);
    }
    
}



/* ANIMATIONS  */

/* For browser perfomance is best to animate only two properties: opacity and transform */
@keyframes moveInLeft {

    /* Define element properties before the animation starts */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /* We can add any % we want to define what happen in this stage of the animation */
    50% {
        transform: translateX(2.5rem);
    }

    /* When the animation finishes  */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    50% {
        transform: translateX(-2.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}

