@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,200;0,400;0,500;0,700;0,900;1,200&family=Roboto+Mono:wght@200;400;700&display=swap');


:root { 
    --white-lemon: rgb(250, 249, 242);

    
    --lemon-chiffon: hsla(53, 96%, 89%, 1);
    --sage: hsla(74, 21%, 64%, 1);
    --sage-2: hsla(60, 27%, 69%, 1);
    --moss-green: hsla(85, 14%, 55%, 1);
    --reseda-green: hsla(92, 15%, 39%, 1);
    --black-olive: hsla(102, 15%, 23%, 1);
    --black-olive-2: hsla(115, 12%, 19%, 1);
    --eerie-black: hsla(0, 0%, 10%, 1);

    --title-font: 'Fraunces', monospace;
    --content-font: 'Roboto Mono', monospace; 
}


body {
    background-color: var(--black-olive);
    color: var(--lemon-chiffon);
    font-family: var(--content-font)
}

h1, h2 {
    font-family: var(--title-font);
    font-weight: 900;
}

h3 {
    font-family: var(--title-font);
}

hr {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: var(--moss-green);
    text-shadow: 1px 1px var(--white-lemon);
    transition: 0.5s;
}

a:hover {
    color: var(--white-lemon);
    text-shadow: 1px 1px var(--lemon-chiffon);
}


/* Bootstrap and custom container  */

.container-fluid {
    padding: 0;
}

.page-container {
    padding: 0 7%;
}


/* Header */

/* Nav Bar  */

.nav-link {
    color: var(--lemon-chiffon);
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: var(--lemon-chiffon);
    color: var(--reseda-green);
    box-shadow: 4px 4px var(--sage);
}

.nav-link:visited {
    color: var(--sage-2);
}

.navbar-toggler {
    color: var(--sage)
}

.page-header {
    background-color: var(--eerie-black);
    background-image: url('../images/background-name.jpg');
    height: 950px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* About Me */

.about {
    background-color: var(--eerie-black);
}

.about-intro {
    
    text-align: left;
    border: 1px solid var(--lemon-chiffon);
    margin: 0 5%;
    padding: 2%;
}


.about-columns {
    margin: 0 5%;
    padding: 5% 0;
    text-align: left;
}

.mountain-image {
    background-image: url('../images/01.jpg');
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid var(--sage);
    /* padding: 25%; */
}

.about-col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Resume Carousel  */

.carousel-inner {
    height: 70vh;
}

.carousel-item {
    padding: 5% 15%;
    text-align: center;
}

.item-title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--reseda-green);
}

.subitem {
    padding: 2% 5%;
}

.subitem-title {
    /* text-transform: uppercase; */
    font-style: italic;
    margin-bottom: 1%;
}

.subitem-text {
    font-size: 0.8rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
}


/* Download  */

.download {
    background-color: var(--eerie-black);
}

.download-row {
    padding: 5%;
    text-align: right;
}


.download-title {

    font-style: italic;
    font-size: 2.5rem;
}

.resume-image {
    background-image: url('../images/resume.jpg');
    height: 20vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
}

.resume-image:hover {
    height: 70vh;
}



@media screen and (max-width: 1100px) {
    
    .page-header {
        background-image: url('../images/background-name.jpg');
        height: 650px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .mountain-image {
        background-image: url('../images/01.jpg');
        height: 55vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border: 1px solid var(--sage);
        /* padding: 25%; */
    }

    .download-row {
        padding: 20% 10%;
    }


}


@media screen and (max-width: 750px) {
    
    .page-header {
        background-image: url('../images/background-name.jpg');
        height: 450px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }


}