@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');


:root {
    --primary-light: #3BD388;
    --primary: #39AEA9;
    --primary-dark: #5B7E7D;
    --yellow: #FEAE06;
    --text: #121427;
    --gray: #F3F3F3;
    --purple: #9b8bf4;

}



/* STYLES  */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem | 62.5%  of default 16px = 10px but allow user to increase*/
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--text);
    box-sizing: border-box;
    /* padding: 0 30rem; */
    background-color: var(--primary);
    
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}


.about, 
.certifications, 
.work,
.skills,
.languages {
    margin-bottom: 3rem;
}
/* HEADER  */


.header {
    padding: 4rem; 
    /* background-image: linear-gradient(var(--primary-dark), var(--primary)); */
    background-position: 150%;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    color: #fff;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    width: 20%;
}



.contact-link:link,
.contact-link:visited {
    background-color: #fff;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary)
}

.contact-link:hover {
    color: var(--purple);
}


/* Portfolio */
.container {
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
    padding: 4rem;
    border-radius: 5rem;
    width: 75vw;
    margin: 0 auto 3rem;
}



/* About */
.about {
    width: 25%;
    text-align: justify;
    padding: 0 5rem 0 0;
}

.about__img {
    margin: 2rem 0;
    width: 100%;
}

.about__description {
    font-size: 1.6rem;
    line-height: 1.7;
}

/* details */
.details {
    width: 25%;
    padding: 0 0 0 5rem;

}


/* Experience */

.experience {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list {
    list-style: none;
}

.experience__item {
    display: flex;
    padding: 1.5rem 0;
}


.item__deco {
    width: 1.5rem;
    border-radius: 50rem;
}

.item__group {
    margin-left: 1rem;
    width: 75%;
}

.item__sub {
    color: var(--primary-dark);
    text-transform: uppercase;
}


.item__year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 2.5rem;
    border-radius: 50rem;

}

.certifications .item__deco,
.certifications .item__year {
    background-color: var(--yellow);
}

.work .item__deco,
.work .item__year {
    background-color: var(--primary);
}

.academic .item__deco,
.academic .item__year {
    background-color: var(--purple);
}


.details__item {
    margin: 1.4rem 0;
    padding: 0.2rem 2rem;
    border-radius: 10rem;
    font-weight: 800;
}

.skills .details__item {
    background-color: var(--primary-light);
}

.languages .details__item {
    background-color: var(--purple);
}











.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s ease-out;
    position: relative;
    font-size: 1.6rem,
}

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;    
}

/* BUTTON ANIMATION USING PSEUDOELEMENTS */

/* Content and display must be provided for ::after and ::before */
/* The after pseudoelement acts like a child of the element  */
.btn::after {
    content: "";
    display:inline-block;
    height: 100%;
    width: 100%; 
    border-radius: 10rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-out;

}

.btn-white::after {
    background-color: #fff;
}


.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    /* Define the initial state as 0% */
    animation-fill-mode: backwards;

}

/* ANIMATIONS  */

/* For browser perfomance is best to animate only two properties: opacity and transform */
@keyframes moveInLeft {

    /* Define element properties before the animation starts */
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    /* We can add any % we want to define what happen in this stage of the animation */
    50% {
        transform: translateX(2.5rem);
    }

    /* When the animation finishes  */
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    50% {
        transform: translateX(-2.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}
